// Block: Call To Action
//======================
.block.cta {
    color: white;
}
.block.cta#ctaOne {
    //img {
    //    position: absolute;
    //    z-index: 250;
    //    display: block;
    //    visibility: visible;
    //}
    article {
        position: relative;
        z-index: 150;
        background: $brandDark;
        color: white;
    }
    @media screen and (max-width:$bpSM) {
        img {
            display: none;
            visibility: hidden;
        }
    }
}
