// Quote Block
.block.quote {
    background: $brandBase;
    color: white;
    article {
        @extend %content-wrapper;
        div {
            align-self: center;
            flex: 0 0 25%;
            text-align: right;
        }
        blockquote {
            align-self: center;
            flex: 0 0 75%;
            font-size: $spacingSM;
            line-height: $spacingBase;
            padding-left: $spacingBase;
            color: white;
            font-style: normal;
        }
    }
}
