// Block: Call To Action
//======================
.block.cta {
    color: white;
    background: $brandDark;
    &#ctaTwo article {
        text-align: center;
        h2 {
            flex: 0 0 100%;
            order: 1;
        }
        p {
            flex: 0 0 100%;
            order: 2;
            max-width: 45%;
            margin: 0 auto;
            margin-bottom: $spacingBase;
        }
        a {
            flex: 0 0 100%;
            order: 3;
        }
    }
}
