// Block: Call To Action
//======================
.block.cta {
  color: white;
  background: $brandDark;
  &#ctaTwo article {
    text-align: center;
    justify-content: center;
    h2 {
      flex: 0 0 100%;
      order: 1;
      margin-top: 0;
    }
    p {
      flex: 0 0 100%;
      order: 2;
      max-width: 45%;
      margin: 0 auto;
      margin-bottom: $spacingBase;
    }
    div {
      flex: 0 0 100%;
      order: 3;
    }
  }
}
