// Contact Block
// =============
// section.contact | section#contact
section.contact {
  @extend %block;
  @extend %blockHalf;
  header {
    text-align: center;
  }
  div.left {
    margin-top: $spacingBase;
  }
  iframe {
    border       : 1px solid $borderColor;
    border-radius: $borderRadius;
    box-shadow   : $z2-shadow;
  }
  li {
    margin-bottom: $spacingSM;
  }
}