// Divider Block
//==============
.block.divider {
    @extend %content-wrapper;
    text-align: center;
    h2 {
        color: $brandAlt;
        font-family: $futuraPT;
        margin: 0 auto;
    }
}
