// Divider Block
//==============
.block.divider {
    @extend %content-wrapper;
    text-align: center;
    h2 {
        color: $brandAlt;
        font-family: $futuraPT;
        margin: 0 auto;
    }
    &#socialProof {
        h2 {
            flex: 0 0 100%;
            margin-bottom: $spacingMD;
        }
        article {
            
            justify-content: space-between;
            flex: 0 0 100%;
            img {
                flex: 1;
            }
        }
    }
}
