// Forms
//======
input {
  display      : inline-block;
  width        : 100%;
  padding      : 0.625rem 0;
  font-size    : 1rem;
  line-height  : 1.5rem;
  text-indent  : 0.625rem;
  outline      : none;
  border-radius: $borderRadius;
  border       : 1px solid $borderColor;
  box-shadow   : $inset-z1-shadow;
  transition   : border-color 250ms ease-in-out, box-shadow 250ms ease-in-out;
  &:focus {
    border-color: $gray39;
    box-shadow  : none;
    transition  : border-color 250ms ease-in-out, box-shadow 250ms ease-in-out;
  }
}