// Global header
//==============
// Stewart Hines September 2015
header[role="banner"] {
  position     : fixed;
  top          : 0;
  left         : 0;
  right        : 0;
  z-index      : 1000;
  display      : block;
  width        : 100%;
  padding      : $spacingSM 0;
  background   : $brand6;
  border-bottom: 1px solid $borderColor;
  box-shadow   : $z1-shadow;
  nav {
    @extend %wrapper;
  }
  .brand {
    display       : inline-block;
    float         : left;
    width         : 23%;
    margin-right  : 2%;
    vertical-align: middle;
    img {
      display   : inline-block;
      max-height: 32px;
      max-width : 156px;
    }
  }
  ul {
    display   : inline-block;
    float     : left;
    width     : 75%;
    margin    : 0;
    padding   : 0;
    text-align: right;
    li {
      display: inline;
    }
  }
}
nav ul li,
nav ul li a {
  font-family   : $futuraPT;
  font-size     : $spacingXS;
  font-weight   : 800;
  text-transform: uppercase;
  vertical-align: middle;
}
nav ul li a.btn {
  max-height   : 32px;
  padding      : $spacingXS;
  border-radius: $borderRadius;
  border       : 1px solid $borderColor;
}