// Global footer
footer[role="footer"] {
    padding: $spacingLG;
    text-align: center;
    background: #bfbfbf;
    div {
        @extend %content-wrapper;
    }
    nav,
    p {
        flex: 0 0 100%;
    }
}
