// Global header
//==============
// Stewart Hines September 2015
header[role="banner"] {
    position:      fixed;
    top:           0;
    left:          0;
    right:         0;
    z-index:       1000;
    display:       block;
    width:         100%;
    background:    $brand6;
    border-bottom: 1px solid $borderColor;
    box-shadow:    $z1-shadow;
    nav {
        @extend %wrapper;
    }
    .brand {
        display:        inline-block;
        float:          left;
        width:          23%;
        margin-right:   2%;
        vertical-align: middle;
        padding-top:    $spacingSM;
        img {
            display:    inline-block;
            max-height: 32px;
            max-width:  156px;
        }
    }
    ul {
        display:    inline-block;
        float:      left;
        width:      75%;
        margin:     0;
        padding:    0;
        text-align: right;
        li {
            display:    inline-block;
            padding:    $spacingSM;
            background: transparent;
            transition: background 250ms ease-in-out;
            &.divider {
                padding: 0;
            }
            &:hover {
                background: $brand17;
                transition: background 250ms ease-in-out;
            }
        }
    }
}

nav ul li,
nav ul li a {
    color:          $brandBase;
    font-family:    $futuraPT;
    font-size:      $spacingXS;
    font-weight:    800;
    text-transform: uppercase;
    vertical-align: middle;
    a:hover {
        color: lighten($brandBase, 30);
    }
}

nav ul li a.btn {
    max-height:    32px;
    padding:       $spacingXS;
    border-radius: $borderRadius;
    border:        1px solid $borderColor;
}

//  Media Checks
header[role="banner"] {
    @media screen and (max-width: $bpSM) {
        border:        none;
        padding:       0;
        margin-bottom: $spacingBase;
        background:    none;
        box-shadow:    none;
        nav {
            position:  relative;
            width:     100%;
            max-width: 100%;
        }
        ul,
        nav ul li a,
        .brand {
            float:      none;
            display:    block;
            width:      100%;
            text-align: center;
        }
        .brand {
            position:       relative;
            z-index:        1200;
            padding-bottom: $spacingSM;
            padding-top:    $spacingSM;
            border-bottom:  1px solid $borderColor;
            box-shadow:     $z1-shadow;
            background:     $brand6;
        }
        .divider {
            display:    none;
            visibility: hidden;
        }
        nav ul {
            position:   absolute;
            z-index:    1100;
            transform:  translateY(-500px);
            background: $brand17;
            box-shadow: $z1-shadow;
            opacity:    0;
            transition: transform 300ms ease-in-out, opacity 250ms ease-in-out;
            &.show {
                opacity:    1;
                transform:  translateY(0);
                transition: transform 300ms ease-in-out, opacity 250ms ease-in-out;
            }
        }
        nav ul li a {
            position:       relative;
            display:        block;
            width:          100%;
            font-size:      1rem;
            letter-spacing: 0.2rem;
            padding:        10px 0;
            border-bottom:  1px solid $borderColor;
            background:     transparent;
            &.active {
                background: rgba(255, 255, 255, 0.25);
            }
        }
    }
}

.dropdown-toggle {
    position: relative;
    cursor:   pointer;
    a,
    i {
        display:        inline-block;
        vertical-align: middle;
    }
    &.active
    &.active:hover {

    }

}

.dropdown {
    position:   absolute;
    z-index:    900;
    left:       50%;
    top:        60px;
    display:    block !important;
    float:      none !important;
    width:      180px !important;
    max-width:  250px;
    text-align: left !important;
    opacity:    1;
    transition: opacity 300ms ease-in-out, top 300ms ease-in-out;
    li {
        display:       block !important;
        width:         100%;
        padding:       10px;
        background:    $brand6 !important;
        border:        1px solid $borderColor;
        border-bottom: none;
        box-shadow:    $z1-shadow;
        &:first-child {
            border-top-left-radius:  0;
            border-top-right-radius: 0;
        }
        &:last-child {
            border-bottom-left-radius:  $borderRadius;
            border-bottom-right-radius: $borderRadius;
            border-bottom:              1px solid $borderColor;
        }
        &:hover {
            background: $brand17 !important;
        }
        a {
            color:       $brand61 !important;
            text-shadow: none !important;
        }
    }
    &.ng-hide {
        top:        -500px;
        opacity:    0;
        transition: opacity 300ms ease-in-out, top 300ms ease-in-out;
    }
}