* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2b2b2b;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.09em; }

h1,
.h1 {
  font-size: 2.75rem;
  line-height: 3rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem; }

h2,
.h2 {
  font-size: 1.9375rem;
  line-height: 3rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem; }

h3,
.h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 500; }

p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

a {
  text-decoration: none;
  font-weight: 400;
  color: #334667;
  transition: color 250ms ease-in-out; }

a:hover {
  color: #4c699a;
  transition: color 250ms ease-in-out; }

ul,
ol {
  list-style: none; }

strong {
  font-weight: 500; }

small {
  font-size: smaller; }

blockquote {
  font-size: 1.375rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-style: italic;
  font-weight: lighter;
  color: #d4d4d4; }

hr {
  display: block;
  border: none;
  outline: none;
  width: 88%;
  margin: 1rem auto;
  height: 1px;
  background: #d4d4d4; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-secondary {
  color: #7f7f7f; }

.text-lead {
  font-size: 1.375rem;
  line-height: 1.5rem; }

.text-action {
  color: #0f93f5; }

.text-danger {
  color: #f44336; }

.text-success {
  color: #46af4a; }

.text-warning {
  color: #ff9800; }

.list-clear {
  margin: 0;
  padding: 0; }

img {
  border: 0; }

.block header:first-of-type,
.block article:first-of-type,
footer[role="footer"] div, .block.divider, .block.half header, .block.half article, .block header.half, .block article.thirds, .block.quote article, .block.price-table header,
.block.price-table article,
.block.price-table footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-width: 60rem;
  margin: 0 auto; }

.block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 3rem 1.5rem; }

@media screen and (max-width: 720px) {
  .block {
    padding: 1.5rem; } }

.btn,
a.btn {
  display: inline-block;
  margin: 1rem 0;
  padding: 1rem 1.5rem;
  color: #334667;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid #d4d4d4;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  -webkit-transform: translateY(0) scale(1);
      -ms-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  transition: box-shadow 250ms ease-in-out, -webkit-transform 350ms ease-in-out;
  transition: box-shadow 250ms ease-in-out, transform 350ms ease-in-out;
  background: white; }

.btn:hover,
a.btn:hover {
  color: #334667;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transform: translateY(-5px) scale(1.05);
      -ms-transform: translateY(-5px) scale(1.05);
          transform: translateY(-5px) scale(1.05);
  transition: box-shadow 250ms ease-in-out, -webkit-transform 350ms ease-in-out;
  transition: box-shadow 250ms ease-in-out, transform 350ms ease-in-out; }

.btn.btn-brand {
  background: #334667;
  color: white;
  border-color: transparent; }

.btn.btn-brand:hover {
  color: white; }

.btn.btn-alt {
  background: #a60311;
  color: white;
  border-color: transparent; }

.btn.btn-alt:hover {
  color: white; }

.form-row {
  margin-bottom: 1.5rem; }

.form-group label {
  font-size: 0.75rem;
  font-weight: 600; }

.form-group input {
  width: 100%;
  padding: 0.75rem 0;
  font-size: 14px;
  text-indent: 1rem;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.24), inset 0 1px 2px rgba(0, 0, 0, 0.17);
  transition: box-shadow 250ms ease-in-out, boder-color 250ms ease-in-out; }

.form-group input:focus {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.24), inset 0 0 3px rgba(0, 0, 0, 0.17);
  border-color: #0f93f5;
  transition: box-shadow 250ms ease-in-out, boder-color 250ms ease-in-out; }

header[role="banner"] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  width: 100%;
  padding: 3rem 0; }

header[role="banner"] div {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 60rem;
  margin: 0 auto; }

header[role="banner"] div a {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1; }

header[role="banner"] div a img {
  display: block;
  width: 233px; }

header[role="banner"] div nav {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  text-align: right; }

@media screen and (max-width: 720px) {
  header[role="banner"] {
    width: 100%;
    border-bottom: 1px solid #d4d4d4;
    padding: 1.5rem; }
  header[role="banner"] a img {
    width: 155px;
    max-width: 155px; }
  header[role="banner"] nav {
    display: none; } }

header[role="banner"] nav a {
  font-family: "futura-pt"; }

footer[role="footer"] {
  padding: 4.5rem;
  text-align: center;
  background: #bfbfbf; }

footer[role="footer"] nav,
footer[role="footer"] p {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%; }

.block.hero {
  padding: 4.5rem; }

.block.hero article {
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.block.hero h1 {
  color: #a60311;
  font-family: "futura-pt";
  margin-bottom: 1.5rem; }

.block.cta {
  color: white;
  background: #25263b; }

.block.cta#ctaTwo article {
  text-align: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.block.cta#ctaTwo article h2 {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  margin-top: 0; }

.block.cta#ctaTwo article p {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  max-width: 45%;
  margin: 0 auto;
  margin-bottom: 1.5rem; }

.block.cta#ctaTwo article div {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3; }

.block.divider {
  text-align: center; }

.block.divider h2 {
  color: #a60311;
  font-family: "futura-pt";
  margin: 0 auto; }

.block.divider#socialProof h2 {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-bottom: 3rem; }

.block.divider#socialProof article {
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%; }

.block.divider#socialProof article img {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.block.half {
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.block.half header {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 1.5rem; }

.block.half header h1 {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-top: 0; }

.block.half article {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2; }

.block.half article img {
  -webkit-flex: 0 0 48%;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  max-height: 244px;
  margin-right: 1.5rem; }

.block.half article div {
  -webkit-flex: 0 0 48%;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  text-align: center; }

.block.half article div img {
  display: block;
  margin: 1rem auto;
  width: 221px;
  height: 64px;
  opacity: 0.8;
  transition: opacity 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out; }

.block.half article div img:hover {
  opacity: 1;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  transition: opacity 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out; }

.block.half article h4 {
  font-size: 20px;
  font-weight: 500; }

@media screen and (max-width: 760px) {
  .block.half article {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .block.half article img {
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-height: 142px;
    margin-bottom: 1.5rem; }
  .block.half article div {
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; } }

.block {
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.block header.half {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%; }

.block header.half div {
  -webkit-flex: 0 0 48%;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  margin-right: 1.5rem; }

.block header.half div h1 {
  margin: 0; }

.block header.half img {
  -webkit-flex: 0 0 48%;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  max-height: 256px; }

.block article.thirds {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center; }

.block article.thirds h2 {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%; }

.block article.thirds div {
  -webkit-flex: 0 0 30.8333%;
      -ms-flex: 0 0 30.8333%;
          flex: 0 0 30.8333%; }

.block article.thirds div p {
  text-align: left; }

.block#pointThree header h1 {
  margin-bottom: 0; }

.block#pointThree header p {
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #7f7f7f; }

.block#pointThree article div {
  text-align: left;
  margin-bottom: 4.5rem;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

.block#pointThree article div h3 {
  color: #a60311; }

.block.quote {
  background: #334667;
  color: white; }

.block.quote article div {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  text-align: right; }

.block.quote article blockquote {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-flex: 0 0 75%;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-left: 1.5rem;
  color: white;
  font-style: normal; }

.block.price-table header,
.block.price-table article,
.block.price-table footer {
  -webkit-flex: 100%;
      -ms-flex: 100%;
          flex: 100%; }

.block.price-table header {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.block.price-table header h1 {
  -webkit-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  text-align: center;
  color: #a60311;
  font-family: "futura-pt"; }

.block.price-table header p {
  -webkit-flex: 0 0 75%;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

.block.price-table article div {
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 4.5rem; }

.block.price-table article div footer {
  display: block;
  width: 100%;
  font-size: 0.75rem;
  text-align: center; }

.block.price-table article table {
  width: 100%;
  outline: none;
  border-collapse: collapse;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.block.price-table article table tr th,
.block.price-table article table tr td {
  padding: 1.5rem 1rem;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: capitalize; }

.block.price-table article table tr td {
  border-bottom: 1px solid #d4d4d4; }

.block.price-table article table tr:last-child td {
  border-bottom: none; }

.block.price-table article table thead tr th {
  font-size: 31px;
  font-weight: 300; }

.block.price-table article table tr.price {
  background: #334667;
  color: white;
  height: 83px; }

.block.price-table article table tr.price td {
  font-weight: 800;
  font-size: 3rem;
  text-transform: uppercase; }

.block.price-table article table tr.price td small {
  font-size: 0.75rem; }

.block.price-table footer {
  text-align: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.block.contact {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.block.contact header,
.block.contact article {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.block.contact header h1,
.block.contact article h1 {
  color: #a60311; }

.block.contact form {
  width: 75%; }

.block.contact fieldset {
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: block;
  margin: 0 auto;
  padding: 1.5rem;
  background: #f0f0f0;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.block.contact fieldset header {
  font-size: 1.5rem;
  color: #334667;
  font-weight: 300;
  margin-bottom: 1.5rem; }

.block.contact .form-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.block.contact .form-group {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 0.75rem; }

h1 {
  margin-top: 0; }

body {
  font-family: "proxima-nova";
  color: #334667; }
