section:after, section.contact:after, footer[role="footer"]:after, header.page-header:after, section.two-column:after, section article:after,
section header:after,
section footer:after, header[role="banner"] nav:after, header.page-header div:after, section.two-column article:after {
  content: "";
  display: table;
  clear: both; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2b2b2b;
  line-height: 1.75rem;
  font-size: 1.125rem;
  font-weight: 300;
  letter-spacing: 0.09em; }

h1,
.h1 {
  font-size: 2.75rem;
  line-height: 3.5rem; }

h2,
.h2, section h1 {
  font-size: 1.9375rem;
  line-height: 3.5rem; }

h3,
.h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500; }

p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

a {
  text-decoration: none;
  font-weight: 400;
  color: #0f93f5;
  transition: color 250ms ease-in-out; }

a:hover {
  color: #0768b0;
  transition: color 250ms ease-in-out; }

ul,
ol {
  list-style: none; }

strong {
  font-weight: 500; }

small {
  font-size: smaller; }

blockquote {
  font-size: 1.375rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-style: italic;
  font-weight: lighter;
  color: #d4d4d4; }

hr {
  display: block;
  border: none;
  outline: none;
  width: 88%;
  margin: 1.125rem auto;
  height: 1px;
  background: #d4d4d4; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-secondary {
  color: #7f7f7f; }

.text-lead {
  font-size: 1.375rem;
  line-height: 1.75rem; }

.text-action {
  color: #0f93f5; }

.text-danger {
  color: #f44336; }

.text-success {
  color: #46af4a; }

.text-warning {
  color: #ff9800; }

.list-clear {
  margin: 0;
  padding: 0; }

img {
  display: inline-block;
  border: 0;
  outline: 0;
  vertical-align: middle;
  max-width: 100%; }

.btn,
button,
a.btn {
  display: inline-block;
  padding: 0.625rem 1rem;
  color: #334667;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  border: 1px solid #c2c3c9;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: #f2f2f4;
  transition: box-shadow 300ms ease-in-out; }

.btn:hover,
button:hover,
a.btn:hover {
  transition: box-shadow 300ms ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.btn:active,
button:active,
a.btn:active {
  transition: box-shadow 300ms ease-in-out;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24); }

@media screen and (max-width: 760px) {
  .btn,
  button,
  a.btn {
    width: 100%;
    margin-bottom: 1.125rem; } }

.btn.btn-brand,
fieldset button, section.cta form button {
  color: white;
  letter-spacing: 0.2rem;
  background: #5a6984;
  border-color: transparent; }

input,
textarea {
  display: inline-block;
  width: 100%;
  padding: 0.625rem 0;
  font-size: 1rem;
  line-height: 1.5rem;
  text-indent: 0.625rem;
  outline: none;
  border-radius: 4px;
  border: 1px solid #c2c3c9;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: border-color 250ms ease-in-out, box-shadow 250ms ease-in-out; }

input:focus,
textarea:focus {
  border-color: #0f93f5;
  box-shadow: 0 0 8px rgba(15, 147, 245, 0.45), 0 0 8px rgba(15, 147, 245, 0.25);
  transition: border-color 250ms ease-in-out, box-shadow 250ms ease-in-out; }

label {
  display: block;
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  line-height: auto;
  text-align: left !important; }

.form-group {
  display: block;
  width: 100% !important;
  margin-bottom: 1.125rem; }

fieldset {
  display: block;
  width: 100%;
  padding: 1.75rem;
  border-radius: 4px;
  border: 1px solid #c2c3c9;
  background: #f0f0f0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

fieldset footer {
  text-align: center; }

section, section.contact, footer[role="footer"], header.page-header, section.two-column {
  position: relative;
  z-index: 10;
  display: block;
  width: 100%;
  padding: 3.5rem 0; }

@media screen and (max-width: 700px) {
  section, section.contact, footer[role="footer"], header.page-header, section.two-column {
    padding: 1.75rem 0; } }

section article,
section header,
section footer, header[role="banner"] nav, header.page-header div, section.two-column article {
  display: block;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0; }

section.trips article div,
section.two-column article div.sidebar, section.two-column article div.content {
  display: inline-block;
  float: left; }

section {
  border-bottom: 1px solid #c2c3c9; }

section.no-bottom {
  padding-bottom: 0; }

section.no-top {
  padding-top: 0; }

section.no-padding {
  padding: 0; }

section.spacingSM {
  padding: 1.125rem 0; }

section.spacingBase {
  padding: 1.75rem 0; }

section.spacingMD {
  padding: 3.5rem 0; }

section.spacingLG {
  padding: 5.25rem 0; }

section.border-bottom {
  border-bottom: 1px solid #c2c3c9; }

section.no-border {
  border: none; }

section header {
  margin-bottom: 1.75rem; }

section footer {
  margin-top: 1.75rem; }

section.half div,
section.contact div {
  display: inline-block;
  width: 49%;
  margin-right: 2%;
  float: left; }

section.half div:last-child,
section.contact div:last-child {
  margin-right: 0; }

section.center header,
section.center footer {
  text-align: center; }

section.center header {
  margin-bottom: 1.75rem; }

section.center footer {
  margin-top: 1.75rem; }

section.center article {
  text-align: center; }

section.threefourths-left article div {
  display: inline-block;
  float: left; }

section.threefourths-left article div:first-child {
  width: 64.6667%;
  margin-right: 2%; }

section.threefourths-left article div:last-child {
  width: 33.3333%; }

section.threefourths-right article div {
  display: inline-block;
  float: left; }

section.threefourths-right article div:first-child {
  width: 33.3333%;
  margin-right: 2%; }

section.threefourths-right article div:last-child {
  width: 64.6667%; }

section.trips article div {
  width: 31.5%;
  margin-right: 2.5%; }

section.trips article div:last-child {
  margin-right: 0; }

section.cta {
  background: #828ea2;
  padding: 1.125rem;
  text-align: center;
  border: none; }

section.cta article {
  width: 100%;
  max-width: 100%;
  border: 4px solid #5a6984;
  padding: 1.125rem; }

section.cta form {
  width: 100%;
  max-width: 250px;
  margin: 0 auto; }

section.cta form button {
  width: 100%;
  margin-top: 1.125rem; }

@media screen and (max-width: 700px) {
  section.half article div,
  section.half article div:first-child,
  section.half article div:last-child,
  section.threefourths-right article div,
  section.threefourths-right article div:first-child,
  section.threefourths-right article div:last-child,
  section.threefourths-left article div,
  section.threefourths-left article div:first-child,
  section.threefourths-left article div:last-child,
  section.trips article div,
  section.trips article div:first-child,
  section.trips article div:last-child {
    float: none;
    margin-right: 0;
    width: 100%; }
  article div:first-child,
  section.trips article div:nth-child(even) {
    margin-bottom: 1.75rem; }
  .hidden-sm {
    display: none !important;
    visibility: hidden; } }

section h1,
section h2,
section h3 {
  font-family: "futura-pt";
  color: #a60311; }

.white-text * {
  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.bg-gray {
  background: #f0f0f0; }

section#overview {
  padding: 1.75rem 0;
  text-align: center;
  background: #f0f0f0; }

section#mobileReady img {
  vertical-align: bottom; }

section#mobileReady div div {
  width: 100%;
  text-align: center; }

section#mobileReady a {
  margin-right: 1.75rem;
  opacity: 0.7;
  transition: -webkit-transform 200ms ease-in-out, opacity 200ms ease-in-out;
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out; }

section#mobileReady a:hover {
  opacity: 1;
  transition: -webkit-transform 200ms ease-in-out, opacity 200ms ease-in-out;
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out; }

@media screen and (max-width: 760px) {
  section#mobileReady a {
    display: inline-block;
    margin-bottom: 1.125rem;
    margin-right: 0; } }

section#locationUpdate {
  background-image: url("../img/locationBG.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 1.75rem;
  border: none; }

section#locationUpdate p {
  margin-bottom: 0; }

section#locationUpdate header,
section#locationUpdate article {
  max-width: 70%;
  padding: 0; }

section#locationUpdate img {
  display: inline-block;
  width: 100%;
  max-width: 472px; }

@media screen and (max-width: 760px) {
  section#locationUpdate header,
  section#locationUpdate article {
    width: 100%;
    padding: 0; } }

section#easeOfUse article,
section#easeOfUse div,
section#easeOfUse img,
section#easeOfUse h1,
section#easeOfUse p {
  vertical-align: middle; }

section#easeOfUse img {
  width: 100%; }

section#easeOfUse h1 {
  margin-top: 20%; }

section#accountable {
  padding: 5.25rem 0;
  background-image: url("../img/account_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  border: 0; }

section.hero {
  height: 600px;
  padding-top: 0;
  padding-bottom: 5.25rem;
  background-image: url("../img/hero_bg.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  border: 0; }

section.hero header[role="banner"] {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.75rem;
  background: none;
  box-shadow: none;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, transparent 100%); }

section.hero header[role="banner"] a,
section.hero header[role="banner"] li {
  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

section.hero article div {
  float: right;
  width: 64.6667%;
  color: white;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

section.hero article div h1 {
  font-family: "futura-pt";
  color: white; }

section.hero article div div {
  width: 100%;
  text-align: center; }

@media screen and (max-width: 760px) {
  section.hero {
    height: auto;
    padding-bottom: 1.75rem;
    background-image: url("../img/hero_mobile.png"); }
  section.hero article div {
    float: none;
    width: 100%; }
  section.hero header[role="banner"] .brand {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, transparent 100%); }
  section.hero header[role="banner"] nav ul {
    background: rgba(218, 218, 222, 0.98); }
  section.hero header[role="banner"] nav ul li a {
    color: #4a4b5c;
    text-shadow: none; } }

section.contact header {
  text-align: center; }

section.contact div.left {
  margin-top: 1.75rem; }

section.contact iframe {
  border: 1px solid #c2c3c9;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

section.contact li {
  margin-bottom: 1.125rem; }

@media screen and (max-width: 760px) {
  section.contact div {
    float: none;
    display: block;
    width: 100%; }
  section.contact .left h3,
  section.contact iframe,
  section.contact .right {
    display: none;
    visibility: hidden; }
  section.contact li {
    text-align: center; } }

header[role="banner"] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: block;
  width: 100%;
  padding: 1.125rem 0;
  background: #f2f2f4;
  border-bottom: 1px solid #c2c3c9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

header[role="banner"] .brand {
  display: inline-block;
  float: left;
  width: 23%;
  margin-right: 2%;
  vertical-align: middle; }

header[role="banner"] .brand img {
  display: inline-block;
  max-height: 32px;
  max-width: 156px; }

header[role="banner"] ul {
  display: inline-block;
  float: left;
  width: 75%;
  margin: 0;
  padding: 0;
  text-align: right; }

header[role="banner"] ul li {
  display: inline; }

nav ul li,
nav ul li a {
  color: #334667;
  font-family: "futura-pt";
  font-size: 0.75rem;
  font-weight: 800;
  text-transform: uppercase;
  vertical-align: middle; }

nav ul li a:hover,
nav ul li a a:hover {
  color: #7790bc; }

nav ul li a.btn {
  max-height: 32px;
  padding: 0.75rem;
  border-radius: 4px;
  border: 1px solid #c2c3c9; }

@media screen and (max-width: 760px) {
  header[role="banner"] {
    border: none;
    padding: 0;
    margin-bottom: 1.75rem;
    background: none;
    box-shadow: none; }
  header[role="banner"] nav {
    position: relative;
    width: 100%;
    max-width: 100%; }
  header[role="banner"] ul,
  header[role="banner"] nav ul li a,
  header[role="banner"] .brand {
    float: none;
    display: block;
    width: 100%;
    text-align: center; }
  header[role="banner"] .brand {
    position: relative;
    z-index: 1200;
    padding-bottom: 1.125rem;
    padding-top: 1.125rem;
    border-bottom: 1px solid #c2c3c9;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background: #f2f2f4; }
  header[role="banner"] .divider {
    display: none;
    visibility: hidden; }
  header[role="banner"] nav ul {
    position: absolute;
    z-index: 1100;
    -webkit-transform: translateY(-500px);
        -ms-transform: translateY(-500px);
            transform: translateY(-500px);
    background: #dadade;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    opacity: 0;
    transition: -webkit-transform 300ms ease-in-out, opacity 250ms ease-in-out;
    transition: transform 300ms ease-in-out, opacity 250ms ease-in-out; }
  header[role="banner"] nav ul.show {
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    transition: -webkit-transform 300ms ease-in-out, opacity 250ms ease-in-out;
    transition: transform 300ms ease-in-out, opacity 250ms ease-in-out; }
  header[role="banner"] nav ul li a {
    display: block;
    width: 100%;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    padding: 10px 0;
    border-bottom: 1px solid #c2c3c9;
    background: transparnt; }
  header[role="banner"] nav ul li a.active {
    background: rgba(255, 255, 255, 0.25); } }

footer[role="footer"] {
  padding: 5.25rem 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  background: #dadade; }

header.page-header {
  padding: 7rem 0 1.75rem;
  margin-top: 76px;
  background-color: #5a6984; }

section.two-column article div.sidebar {
  width: 25%; }

section.two-column article div.content {
  width: 75%;
  padding-left: 1.75rem; }

aside {
  border: 1px solid #c2c3c9;
  border-radius: 4px;
  background-color: #f2f2f4;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

h1 {
  margin-top: 0; }

body {
  font-family: "proxima-nova";
  color: #334667; }
